extends ./layout.pug
block content
  .calc-machine
    .calc-machine_header
      .calc-machine_header-process.text-right.px-3
      .calc-machine_header-result.text-right.px-3 0
    .calc-machine_body
      .calc-button-group
        a(href="#").calc-button.number 7
        a(href="#").calc-button.number 8
        a(href="#").calc-button.number 9
        a(href="#").calc-button.operation  ÷ 
        a(href="#").calc-button.number 4
        a(href="#").calc-button.number 5
        a(href="#").calc-button.number 6
        a(href="#").calc-button.operation  × 
        a(href="#").calc-button.number 1
        a(href="#").calc-button.number 2
        a(href="#").calc-button.number 3
        a(href="#").calc-button.operation  + 
        a(href="#").calc-button.number 0
        a(href="#").calc-button.number 00
        a(href="#").calc-button.number .
        a(href="#").calc-button.operation  − 
    .calc-machine_footer
      a(href="#").calc-button.operation.allClear  AC
      a(href="#").calc-button.operation.back ⌫
      a(href="#").calc-button.operation_result =
